.container {
  background-color: green;
  min-height: 100%;
  min-width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-areas:
    "name    name"
    "score   ac"
    "cancel  submit";
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.enter-name,
.enter-score,
.enter-ac,
.cancel,
.submit {
  height: 1fr;
  text-align: center;
}

.enter-name {
  grid-area: name;
  font-size: 1.5rem;
}

.enter-score {
  grid-area: score;
  font-size: 1.5rem;
}

.enter-ac {
  grid-area: ac;
  font-size: 1.5rem;
}

.cancel {
  grid-area: cancel;
}

.submit {
  grid-area: submit;
}

input {
  background-color: rgb(8, 20, 78);
  color: gold;
  padding: 0;
  margin: 0;
}

button {
  font-size: 1.5rem;
}
