<div class="container">
  <div class="flex" id="name">
    <input type="text" placeholder="Enter Name" />
  </div>

  <div class="flex" id="score">
    <input type="text" placeholder="Enter Score" />
  </div>

  <div class="flex" id="ac">
    <input type="text" placeholder="Enter AC" />
  </div>

  <div class="flex" id="cancel">
    <app-button
      color="grey"
      text="Cancel"
      (buttonClick)="functionService.closeModal()"
    ></app-button>
  </div>

  <div class="flex" id="submit">
    <button (click)="onCloseModal()">Submit</button>
  </div>
</div>
