.single-entry-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr min-content;
  grid-template-areas: "type name ac score delete";
  padding: 0.5rem;
  gap: 0.5rem;
}

.type {
  grid-area: type;
}

.name {
  grid-area: name;
}

.ac {
  grid-area: ac;
}

.score {
  grid-area: score;
}

.delete {
  grid-area: delete;
}

.type,
.name,
.ac,
.score,
.delete {
  font-size: 2rem;
}
