.single-entry-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 50px;
  grid-template-areas: "type name score delete";
  padding: 0.5rem;
  gap: 0.5rem;
}

.type {
  grid-area: type;
}

.name {
  grid-area: name;
}

.score {
  grid-area: score;
}

.delete {
  grid-area: delete;
}

.type,
.name,
.score,
.delete {
  font-size: 2rem;
}

:host ::ng-deep button {
  width: 100%;
  height: 50px;
  font-size: 2rem;
}
