<div
  class="single-entry-container"
  [ngStyle]="{ 'background-color': combatant.color }"
>
  <app-button
    class="type"
    color="{{ combatant.color }}"
    text="{{ combatant.type }}"
    (buttonClick)="onClick()"
  ></app-button>
  <app-button
    class="name"
    color="{{ combatant.color }}"
    text="{{ combatant.name }}"
    (buttonClick)="onClick()"
  ></app-button>
  <app-button
    class="ac"
    color="{{ combatant.color }}"
    text="{{ combatant.ac }}"
    (buttonClick)="onClick()"
  ></app-button>
  <app-button
    class="score"
    color="{{ combatant.color }}"
    text="{{ combatant.score }}"
    (buttonClick)="onClick()"
  ></app-button>
  <app-button
    class="delete"
    color="{{ combatant.color }}"
    text="X"
    (buttonClick)="onClick()"
  ></app-button>
</div>
