#input-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 2rem;
}

button {
  height: 80px;
  font-size: 1.5rem;
}

button:not(:last-of-type) {
  margin-bottom: 2rem;
}
