<div class="button-container">
  <h1>Create a Combatant</h1>
  <app-button
    class="menu-button"
    width="100%"
    height="60px"
    color="green"
    text="Player"
    fontSize="2rem"
    (buttonClick)="functionService.openModalWithPresets('green', 'Player')"
  ></app-button>
  <app-button
    class="menu-button"
    width="100%"
    height="60px"
    color="red"
    text="Monster"
    fontSize="2rem"
    (buttonClick)="functionService.openModalWithPresets('red', 'Monster')"
  ></app-button>
  <app-button
    class="menu-button"
    width="100%"
    height="60px"
    color="blue"
    text="NPC"
    fontSize="2rem"
    (buttonClick)="functionService.openModalWithPresets('blue', 'NPC')"
  ></app-button>
  <app-button
    class="menu-button"
    width="100%"
    height="60px"
    color="grey"
    text="Clear Combatants"
    fontSize="2rem"
    (buttonClick)="combatantService.clearCombatants()"
  ></app-button>
</div>
