<div>
  <h1>Create a Combatant</h1>
  <div class="button-container">
    <app-button
      color="green"
      text="Create Player"
      (buttonClick)="functionService.openModalWithPresetValues()"
    ></app-button>
    <app-button
      color="red"
      text="Create Monster"
      (buttonClick)="functionService.openModalWithPresetValues()"
    ></app-button>
    <app-button
      color="blue"
      text="Create NPC"
      (buttonClick)="functionService.openModalWithPresetValues()"
    ></app-button>
  </div>
</div>
<app-input-modal
  id="input-modal"
  *ngIf="functionService.showInputModal"
></app-input-modal>
